@import "../../../scss/media";

* {
    padding: 0;
    margin: 0;
}

.a-lead {
    width: 100%;
    margin-top: 5vh;
    @include sp {
        max-width: 100vw;
        margin-top: 10vh;
    }
}

// name_logo.js

.img {
    position: relative;
    width: 900px;
    left: 22vw;
    top: 5vh;
    @include sp {
        width: 95%;
        left: 13vw;
        top: 0;
    }
}

.name-logo {
    transform-origin: left top;
    transform: rotate(90deg);
    opacity: 0.5;
    @include sp {
        transform: rotate(30deg);
        opacity: 0.35;
    }

}

// leadText.js

.a-leadtext__wrp {
    width: 50vw;
    height: auto;
    display: inline-block;
    position: relative;
    top: -3vh;
    left: 38vw;
    @include sp {
        width: 100%;
        display: block;
        top: -10vh;
        left: 0; 
        
    }
    .a-leadtext__title {
        font-size: 3rem;
        margin-bottom: 7.5rem;
        padding: 0 3rem 0 3rem;
        box-sizing: border-box;
        @include sp {
            font-size: 2.25rem;
            margin-bottom: 5rem;
            text-align: center;
        }
    }
    .a-leadtext__item {
        font-size: 1.6rem;
        line-height: 2.25;
        margin: 3.5rem 0 3.5rem 0;
        padding: 0 3rem 0 3rem;
        box-sizing: border-box;
        @include sp {
            font-size: 1rem;
            margin: 2rem 0 2rem 0;
            line-height: 2;
        }
    }
    .a-leadtext__director , .a-leadtext__name {
        font-size: 1.5rem;
        box-sizing: border-box;
        padding: 0 3rem 0 3rem;
        text-align: end;
        @include sp {
            font-size: 1rem;
            line-height: 1.5;
        }
    }
}



