@import "../../../scss/colors";
@import "../../../scss/media";

//共通レイアウト
.c-top {
    position: relative;
    height: 98vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




