@import "../../../scss/colors";
@import "../../../scss/media";

//共通レイアウト
.c-top {
    position: relative;
    height: 98vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

//　背景video__video15sec.js
.bg-video__wrp {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    opacity: 1;
}

.gradient {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(white 50%, grey);
    opacity: 0.55;
    z-index: 2;
}






