@import "colors";

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
        font-size: 2rem;
    }
}