@import "colors";

html {
    background-color: $main_color;
    color: $font_main;
    font-size: 62.5%;
    font-family: 'YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;    
    margin: 0;
    font-weight: lighter;
    padding: 0;
    border: 0;
    max-width: 100vw;
    height: 100vh;
}