@import "colors";

.nav_all_container {
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    max-width: 20vw;
    background-color: $main_color;
}

.nav_bar_wrapper {    
    width: auto;
    position: relative;
    .nav_bar_item {
        font-size: 4rem;
        font-weight: bolder;
        line-height: 1.5;
        padding: 0;
        ul,li{
            list-style: none;
        }       
    }
}

.nav_logo_wrapper {
    position: absolute;
    top: 95vh;
}