@import "../../../../scss/media";

.hamburger {
    margin: 0;
    @include any {
        display: none;
    }
    @include sp {
        position: absolute;
        top: 3.25vh;
        right: 15vw;
        z-index: 200;
    }
}

//　アクセシビリティ用
.visuallyHidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%); 
}

.button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.b-hamburger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    margin: auto;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

.b-hamburger:hover,
.b-hamburger:focus {
  box-shadow: 0 0 .5rem rgb(114,114,114);
}

.h_line {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; /* 親要素に対してど真ん中に配置 */
    width: 30px; /* お肉の幅 */
    height: 2px; /* お肉の高さ */
    background-color: rgb(114,114,114);
    -webkit-transition: inherit;
            transition: inherit;
}

.h_line::before,
.h_line::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    -webkit-transition: inherit;
            transition: inherit;
}

.h_line::before {
    top: -8px;
}

.h_line::after {
    top: 8px;
}

//ドロワーメニュー展開中のハンバーガーボタンのスタイル
.b-hamburger[aria-expanded="true"] .h_line {
    background-color: transparent;
}

.b-hamburger[aria-expanded="true"] .h_line::before,
.b-hamburger[aria-expanded="true"] .h_line::after {
    top: 0;
    background-color: rgb(114,114,114);
}

.b-hamburger[aria-expanded="true"] .h_line::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.b-hamburger[aria-expanded="true"] .h_line::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

  