@import "../../../../scss/colors";
@import "../../../../scss/media";

// logo.js
.logo_wrapper {
    padding: 0;
    @include any {
        width: 5vw;
        margin-left: 12.5vw;
    }
    @include sp {
        width: 12vw;
        margin-left: 4.5vw;
    }
}