@import "../../../../scss/colors";
@import "../../../../scss/media";

// logo.js
.logo_wrapper {
    @include any {
        width: 4.5vw;
        margin-top: 1.5vh;
        margin-left: 2.5vw;
    }
    @include sp {
        width: 14vw;
        margin-top: 1.5vh;
        margin-left: 4.5vw;
    }
}